@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding: 50px 30px;
   
}

.community {
    padding: 20px;
    width: 100%;
    height: 40%;
    background-color: white;
    line-height: 25px;
    box-shadow: 10px 5px 20px hsl(212.73,42.31%,89.8%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.community h3 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 5px;
}

.community span {
    color: hsl(71, 73%, 54%);
    
}

.community p {
    color: hsl(218, 22%, 67%);
    margin-top: 7px;
}

.subscription {
    background-color: hsl(179, 62%, 43%);
    padding:  20px 30px;
    width: 100%;
    height: 30%;
    display: grid;
    box-shadow: 10px 5px 20px hsl(212.73,42.31%,89.8%);
}
.dollar {
    font-weight: bold;
    font-size: 25px;
}

.month {
    color: hsla(203, 44%, 93%, 0.678);
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscription button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 1px 5px hsl(179, 63%, 31%);
    margin-top: 10px;
    text-shadow: 0 1px 8px white;
}
.whyUs {
    background-color: hsl(179.48,47.15%,51.76%);
    padding: 20px 30px;
    width: 100%;
    height: 38%;
    box-shadow: 10px 5px 20px hsl(212.73,42.31%,89.8%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.whyUs h3 {
    margin-bottom: 20px;
}
.whyUs li {
    line-height: 20px;
    color: hsla(203, 44%, 93%, 0.842);
}

@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        height: 70%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 0;
    }
    .community {
        width: 100%;
        height: 100%;
    }
    
    .subscription {
        width: 100%;
        height: 110%;
    }
    .whyUs {
        width: 100%;
        height: 110%;
    }
    .community {
        grid-column: 1/3 ;
        grid-row: 1/3;
    }

    .subscription {
        grid-row: 3/5;
        grid-column: 1/2;
    }
    .whyUs {
        grid-row: 3/5;
        grid-column: 2/3;
    }
}
